node_modules
vendor
.git
.gitignore
.env.example
.editorconfig
README.md
.env.old2
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/**
bootstrap/cache/**
tests
phpunit.xml
.phpunit.result.cache
docker-compose.yml
Dockerfile
docker
*.log
nbproject
.idea
*.md
