/*---Banner---*/

.banner.product {
    margin: 0;
    width: 100%;
    min-height: 600px;
    background-color: rgba(0, 0, 0, 0.5) !important;
    background-blend-mode: saturation;
}

.banner.product .banner-container {
    top: 250px;
    width: 100%;
    color: #fff;
    position: absolute;
    padding: 0;
    bottom: auto;
    left: 0;
    right: auto;
    z-index: 10;
    text-align: center;
    text-shadow: none;
}

.banner .container h1 {
    text-shadow: 1px 1px 5px #00000080;
    margin: 0 0 15px;
    font-weight: bold;
    position: relative;
    line-height: 1;
}

.banner .container h4 {
    text-shadow: 1px 2px 2px #00000080;
    margin: 10px auto 0px;
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: normal;
}


/*---Option under-banner---*/

.under-banner {
    padding: 20px 0;
}

.under-banner .option-list {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #444444a1;
}

.option-list .img-icon {
    width: 3rem;
    float: left;
    position: relative;
    top: 5px;
}

.option-list .txt {
    margin-left: 60px;
}

.option-list .txt p {
    margin-bottom: 5px;
}

.option-list .txt h3 {
    font-size: 1.25rem;
}

.row>.overview-option {
    padding-right: 25px;
}


/*---Price---*/

.row>.overview-price {
    padding: 0;
}

.overview-price {
    position: relative;
    background-color: #dfab1d;
    margin-bottom: 30px;
    overflow: auto;
    min-height: 209px;
}

.overview-price .product-tag {
    font-family: 'Roboto';
    position: relative;
    color: #fff;
    background-color: #ab2e30;
    padding: 5px 15px 5px 35px;
    top: 20px;
}

.overview-price .product-tag span {
    margin: 0;
}

.overview-price .price {
    position: relative;
    top: 28px;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.overview-price .price span {
    text-transform: uppercase;
}

.price .txt h3 {
    font-size: 4.5rem;
    color: #373737;
    font-weight: 700;
    font-style: italic;
    line-height: 1em;
    margin-bottom: -.15em;
}

.price .txt h3 span {
    font-size: 3rem;
}

.price .txt p {
    font-size: 1.2rem;
}


/*---Separator---*/

.separator hr {
    background-color: #dfab1d;
    width: 15%;
    height: 15px !important;
    margin: 0 auto 50px;
    opacity: 1;
}


/*---Description---*/


/*---Title tabs---*/

.description .nav-item .nav-link {
    border-radius: 0 !important;
}

.description a.text-secondary {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 1.2em;
    color: #4b4b4b;
    border-color: #dfab1d !important;
}

.description a.text-secondary.active {
    color: #4b4b4b !important;
    background-color: #fff !important;
    border-bottom: 4px solid #dfab1d !important;
}

.description a.text-secondary:hover {
    isolation: isolate;
    color: #4b4b4b !important;
    background-color: #fff !important;
    border-bottom: 4px solid #dfab1d !important;
}


/*---Overview tabs---*/

.trip-overview li {
    margin-bottom: 20px;
    list-style: none;
}

.trip-overview .title {
    font-weight: bold;
    font-size: 0.8em;
}

.trip-overview .img-icon {
    float: left;
    margin-right: 20px;
    padding-top: 7px;
}

.trip-overview .detail .desc {
    color: #797979;
}

.share {
    margin-bottom: 30px;
}

.share ul {
    padding-left: 0;
}

.share ul li {
    list-style: none;
    display: inline-table;
    vertical-align: middle;
    border-spacing: 0.2em;
}

.share ul li a {
    padding: 0.4em .85em 0.45em;
    font-size: 1.2em;
    color: #fff;
}

.share ul li a:hover {
    color: #fff;
}

.share ul li.link_facebook {
    background-color: #3b5998
}

.share ul li.link_linkedin {
    background-color: #0976b4
}

.share ul li.link_twitter {
    background-color: #55acee
}

.share ul li.link_mail {
    background-color: #2e2e2e
}

.tab-content h5 {
    font-size: 1rem;
}


/*---Itinerary tabs*/

#itinerary h4 {
    font-size: 1.4rem !important;
}

.itinerary-steps .title {
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 5px;
}

.itinerary-steps .title,
.itinerary-steps .detail {
    margin-left: 140px;
}

.itinerary-steps [class^="icon-"],
.itinerary-steps .fa,
.itinerary-steps .glyphicon,
.itinerary-steps .no-icon {
    height: 60px;
    width: 60px;
    line-height: 56px;
    text-align: center;
    display: block;
    border-radius: 60px;
    border: 1px solid #cfcfcf;
    font-size: 30px;
    float: left;
    z-index: 1;
    position: relative;
}

.itinerary-steps {
    padding-bottom: 10px;
    position: relative;
    min-height: 70px;
}

.itinerary-steps:after {
    content: '';
    display: block;
    height: calc(100% - 60px);
    width: 2px;
    background: #cfcfcf;
    position: absolute;
    top: 60px;
    left: 28px;
    z-index: 0;
}


/*---Booking tabs---*/

.tab-content .nb-days h5 {
    float: left;
}

#booking h5 {
    margin-bottom: 30px !important;
}

.calendar {
    color: #fff;
    width: 22rem;
    height: auto;
    background-color: #222227;
    position: relative;
    float: left;
}

.month {
    width: 21.9rem;
    background-color: #dfab1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem 1.25rem;
    text-align: center;
}

.month i {
    font-size: .8rem;
    cursor: pointer;
}

.month h6 {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.weekdays {
    height: 4rem;
    padding: 0 0.4rem;
}

tr.weekdays {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weekdays td {
    width: calc(22rem/7);
    text-align: center;
}

.days td {
    width: calc(21.35rem / 7);
}

.days td.one {
    border: 2px solid #dfab1d;
    background-color: #dfab1d2b;
}

.days td.first {
    border: 2px solid #dfab1d;
    border-right: none;
    background-color: #dfab1d2b;
}

.days td.middle {
    border-top: 2px solid #dfab1d;
    border-bottom: 2px solid #dfab1d;
    background-color: #dfab1d2b;
}

.days td.last {
    border-left: none !important;
    border: 2px solid #dfab1d;
    background-color: #dfab1d2b;
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1rem;
    margin: 0.3rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.days div:hover {
    background-color: #262626;
    border: 0.2rem solid #777;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.checked {
    background-color: #dfab1d;
}

.disable {
    opacity: .2;
}

.nb-days {
    position: relative;
}

.nb-days .days-hebergement {
    display: inline-flex;
}

.nb-days p {
    margin-bottom: 0em;
    font-size: 16px;
    font-weight: 600;
}

.nb-days .notif {
    z-index: 99;
    background-color: #ab2e30;
    padding: 16px 12px 10px;
    border-radius: 50%;
    color: #fff;
    position: relative;
    float: right;
    text-align: center;
    top: 30px;
    right: 5px;
}

.nb-days .notif p {
    line-height: 0px;
}

.nb-days .days-detail {
    margin-left: 180px;
}

.nb-days span {
    font-size: 10px;
}

.notif-details {
    opacity: 0;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    font-size: 1.0625rem;
    font-weight: 500;
    line-height: 1.4;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    float: left;
    top: 65px;
    right: -20px;
    box-shadow: 0 0.1rem .5rem rgba(0, 0, 0, 0.3);
    text-align: left;
    z-index: 999999;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.notif:hover+.notif-details {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.notif-details td {
    padding: 10px 0;
}

.remove {
    color: #ab2e30;
    text-align: center;
}

.nb-pers .block-input {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

.nb-pers .form-label,
.option-checked .form-check-label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0 2px 0 !important;
}

.form-check .rent ul {
    padding-left: 0;
}

.form-check .rent ul li {
    position: relative;
    display: inline;
    margin-right: .5rem;
    transition: all .3s ease;
}

.form-check .rent ul li img {
    margin-bottom: 15px;
    padding: 2px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

.form-check .rent ul li i {
    position: absolute;
    left: 68px;
    top: -30px;
    display: none;
}

.form-check .rent ul li:hover {
    transform: translateY(-.05rem);
}

.form-check .rent ul li:hover img {
    box-shadow: 0px 3px 3px #dee2e6;
}

.form-check .rent ul li:hover i {
    display: block;
}

.nb-pers .form-input {
    background: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 0;
    color: #484848;
    padding: 8px 14px;
    width: 100% !important;
    height: auto;
    box-shadow: none;
    display: block;
    outline: none;
    margin-bottom: 12px;
}

.col-option {
    border-left: 1px solid #dee2e6;
}

.option-checked .form-check-label {
    padding-bottom: 10px;
    margin: 15px 0 !important;
}

.option-checked .form-check {
    border-bottom: 1px solid #dee2e6;
}

.option-checked .form-check-input:checked {
    background-color: #77a464;
    border-color: #77a464;
}

.form-check-input:focus {
    border-color: #77a464 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.map img {
    width: 40%;
}


/*---Modal---*/

.modal-dialog {
    max-width: 1230px !important;
    margin: 1.75rem auto;
}

.product-footer {
    font-size: 1rem;
}

.col-tarif span.interval {
    font-size: .8rem;
}

.product-footer span.tarif {
    font-size: 1.2rem;
    color: #dfab1d;
}

.product-footer .col-tarif {
    border-right: 1px solid #dee2e6;
    padding-left: 33rem;
}

.product-footer .total {
    line-height: 1.2em;
    margin-bottom: .5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.product-footer .total .tarif {
    font-size: 1.7rem;
}

.img-icon span {
    top: 2px;
    position: relative;
}

.product-footer p {
    margin-bottom: 0;
}

.close {
    color: #444;
    text-align: center;
}


/*---Product related---*/

.product-related {
    background-color: rgba(230, 230, 230, 0.2);
}

.more-definition {
    box-shadow: 0 0.2rem .5rem rgba(0, 0, 0, 0.3);
    transition: all .5s ease;
    background-color: #fff;
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
}

.short-definition:hover+.more-definition {
    visibility: visible;
    opacity: 1;
}